# Week 2 - Monday Lesson (variable assignment, loops, lists)

# Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print(number)

6

##### Assinging float

In [3]:
a_singing_float = 2.3

print(a_singing_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Shorthand Version
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

# sh

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [12]:
result_div = num2/num1
print(result_div)

# sh
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [17]:
result_floor = num2 // num1
print(result_floor)

#sh

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = num2 % num1
print(result_mod)

#sh

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [19]:
square = 5 ** 2
print(square)

#sh 

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [20]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print('This is my first name: ', name)

print("Full Name: ", name, end = ' Apol')

This is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [30]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

#sh

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [34]:
number_string = "32"

change_type_num = int(number_string)
print(number_string)
print(change_type_num)

print('\n')
print(type(number_string))
print(type(change_type_num))

print(int(number_string) + 10)

32
32


<class 'str'>
<class 'int'>
42

##### input()

In [36]:
# Input will always return a string -- ALL THE TIME

age = input('What is your age?: ')
print(age)

add_age = int(age) + 1
print(add_age)

What is your age?: 26
26
27

##### format()

In [44]:
age = input('What is your age?: ')

result_string = 'You are {}, {}, and you are getting wiser.'.format(age, name)
print(result_string)

result_again = f'{age} is a great time in life, {name}!!!'
print(result_again)

What is your age?: 26
You are 26, Brandon, and you are getting wiser.
26 is a great time in life, Brandon!!!

##### Old Way (python 2)

In [42]:
result_string2 = 'You are %s and you look great for your age' %age
print(result_string2)

You are 26 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [48]:
color_statement = input("What is your car's color?")
year_statement = input("What is your car's year?")
make_statement = input("What is your car's make?")
model_statement = input("What is your car's model?")

statement_string = f"Your car is a {color_statement} {year_statement} {make_statement} {model_statement} - a wonderful ride!"
print(statement_string)

What is your car's color?Red
What is your car's year?2006
What is your car's make?Mazda
What is your car's model?6
Your car is a Red 2006 Mazda 6 - a wonderful ride!

### If Statements

In [50]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else: 
    print('Not Equal')
        
if num2 >= num1:
    print('Num2 is greater')
elif num1 <= num2:
    print('Num1 is less than num2')

Not Equal
Num2 is greater

##### 'is' keyword

In [51]:
num3 = 55

if num3 is 55:
    print('This is the number 55.')

This is the number 55.

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-51-e7a6793a12af>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [54]:
# Check if char in name
char_name = 'Max Payne'

sample_list = ['M', 'a', 'x']

if 'x' in sample_list:
    print('x is in sample list')

if 'Max' in char_name:
    print('The character who lost everything...')

x is in sample list
The character who lost everything...

##### 'not in' keyword'

In [55]:
sega_char = 'Sonic'
if 'a' not in sega_char:
    print('Not here, boss!')

Not here, boss!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [60]:
letter_p_check = input('What is your input? ')
if 'p' in letter_p_check:
    print('True')
else:
    print('False')

What is your input? puppy
True

## Using 'and'/'or' with If Statements

In [65]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statements
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# If with 'or' statements
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [69]:
first_name = 'Max'

if first_name == 'Smith':
    print('The name is Smith')
elif first_name != 'Max':
    print('The name is not Max')
else:
    print('The name is Max.')

The name is Max.

### Else Statements

In [ ]:
# see above

### For Loops

In [79]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i + 1)

name = "Brandon Apol"
# for letter in name:
#     print(letter)

for i in range(len(name)):
    print(name[i])
print(i)

B
r
a
n
d
o
n

A
p
o
l
11

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [80]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [81]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # sort of used like a to-do

##### Double For Loops

In [84]:
for i in range(5):
    for j in range(5):
        print('i =', i,'j =',j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [85]:
# while keyword, condition statement
# based on the conditional statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = False;

while True:
    print('infinite loop')
    if game_over = False:
        break

##### While & For Loops Used Together

In [88]:
num = 0

while num < 5:
    print('\n While Loop Iteration: ' + str(num))
    
    for i in range(2):
        print('For Loop Iteration: ' + str(i))
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [160]:
# Start, stop, step

for i in range(2, 200, i**3):
    print(i)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

##### len()

In [91]:
name = 'Max'
length = len(name)
print(length)

3

##### help()

In [98]:
# range?

##### isinstance()

In [101]:
# Check a variable to find out what object family it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))
print(isinstance(4.5, float))

False
True

##### abs()

In [102]:
# | 5 |

print(abs(-8))

8

### Try and Except

In [109]:
# use when expecting a bug so error doesn't crash stuff
# use so you can log out graceful and useful error messages

try:
    number_test = 0
    input_num = int(input('Guess a number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your Number is: ' + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

Guess a number4.3
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [140]:
l_l = [] # empty list declaration

names = ['brandon', 'lydia', 'elayne', 'josh']

print(names)

['brandon', 'lydia', 'elayne', 'josh']

##### Indexing a List

In [117]:
# [start: stop: stop] -- [-1]

#single index
print(names[0])

#print starting at index 1 going to the end
print(names[1:])

# starting at beginning of a list until n
print(names[:2])

#print starting at index 1 going up by 2 in each iteration
print(names[1::2])

# start at back and reverse
print(names[::-1])

brandon
['lydia', 'elayne', 'josh']
['brandon', 'lydia']
['lydia', 'josh']
['josh', 'elayne', 'lydia', 'brandon']

##### .append()

In [144]:
names.append('Joel AKA Zordon')
print(names)

['brandon', 'lydia', 'josh', 'Steve', 'Joel AKA Zordon']

##### .insert()

In [143]:
# list.insert(index, value)
names.insert(3,'Steve')
print(names)

['brandon', 'lydia', 'josh', 'Steve']

##### .pop()

In [141]:
# default is the last value if no parameter is given
# pop returns the element that was removed in ase you want to assign it to a variable

# a_name = names.pop()
# print(a_name)

print(names.pop(2))

elayne


##### .remove()

In [145]:
# by value not index
names.remove('Steve')
print(names)

# # value to be removed, not index
# names.remove('Bob')
# print(names)

# #remove multiple bobs out of the list
# while 'Bob' in names:
#     names.remove('Bob')
# print(names)

['brandon', 'lydia', 'josh', 'Joel AKA Zordon']

##### del()

In [ ]:
# index to be remove, not value
# be careful with del, can cause indexing errors if not used carefully

del(names[1])
print(names)

##### Concatenating Two Lists

In [149]:
# will append two lists together, not add up elements

l_2 = [0, 1, 2]
l_3 = [3, 4, 5]

large_list = l_2 + l_3
print (large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [151]:
# Lists can old any type of element including other lists
# they can go as deep as you want for nesting

names = ['Max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
print(names)

print(names[3][1])

['Max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
sue

##### Looping Through Lists

In [155]:
# two ways to loop through lists: one by index, one by using the 'in' keyword

#Loop with for loop (by index)
for i in range(len(names)):
    print(names[i])
    
#using in 
for i in names:
    print(i)

Max
sam
josh
['sally', 'sue', 'tameka']
Max
sam
josh
['sally', 'sue', 'tameka']

In [156]:
for index, value in enumerate(names):
    print(f'the index is {index} and the value is {value}.')

the index is 0 and the value is Max.
the index is 1 and the value is sam.
the index is 2 and the value is josh.
the index is 3 and the value is ['sally', 'sue', 'tameka'].

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
# Howdy
#
# A few odd things about these assignments - I am pretty sure my computer is running an infinite loop somewhere and it's getting very warm but I don't know where it is so I'm gonna shut it off
# I couldn't find anybody who could do problem 2 without using double for loops - I asked several phd students and off the top of their heads this was how they fixed it
# Some of these problems work fine in VS Code but do not work in JN. Lack of easy dark mode makes VS a clear preference. Jussayin'.
# I'm loving the course even though the python is going to be hard. 
# Still a little lost on how the night TA thing is supposed to work if they're in scheduled meetings from 6 to 9. I need a TA that operates like a fire alarm instead of a fire drill.


num = []

for i in range(1, 100):
    output = i**3
    num.append(output)
    if output == 1000:
        break
    else:
        print(num)
        
# This works on VS but not here, I do not like Jupyter, but I'm right darn it

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# loop through numbers 1 through 100;
# if i is prime:
#     print i;
# else: 
#     skip the number;

for i in range(1,100):
    variable = True
    for j in range(2, i//2):
        if (i % j) == 0:
            variable = False
            break
    if variable == True:
        print(i)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = input("What is your age? ")
age_int = int(age)
if age_int < 18:
   print('kids')
elif age_int >= 18 and age_int < 65:
   print('Adults')
else:
   print('Seniors')